/* You can add global styles to this file, and also import other style files */
//  @import "~bootstrap/dist/css/bootstrap.css";
//  @import "~font-awesome/css/font-awesome.css";
 @import '../node_modules/bootstrap/dist/css/bootstrap.css';

 * {
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1em;
}
p {
  font-size: 1em; 
}

a {
  color: #ffffff;
  text-decoration: underline;
}